[submodule "/Users/zero/.config-files/config/vim/vim.conf/pack/external/opt/vim-scriptease"]
	path = /Users/zero/.config-files/config/vim/vim.conf/pack/external/opt/vim-scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule "/Users/zero/.config-files/config/vim/vim.conf/pack/external/start/vim-clevertab"]
	path = /Users/zero/.config-files/config/vim/vim.conf/pack/external/start/vim-clevertab
	url = https://github.com/neitanod/vim-clevertab.git
[submodule "/Users/zero/.config-files/config/vim/vim.conf/pack/external/start/vim-fold-cycle"]
	path = /Users/zero/.config-files/config/vim/vim.conf/pack/external/start/vim-fold-cycle
	url = https://github.com/arecarn/vim-fold-cycle.git
[submodule "/Users/zero/.config-files/config/vim/vim.conf/pack/external/start/vim-surround"]
	path = /Users/zero/.config-files/config/vim/vim.conf/pack/external/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "/Users/zero/.config-files/config/vim/vim.conf/pack/external/start/vim-unimpaired"]
	path = /Users/zero/.config-files/config/vim/vim.conf/pack/external/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
