# text-editor backup files
*~

# Mac Desktop Services Store customization files
.DS_Store

# Specific folders and files
.gitmodules-changed
setup/old
setup/notes.txt
notes/ScreenShot_prompt.png
notes/ScreenShot_prompt.txt
config/bash/notes/etc/
config/bash/old/
config/bash/alt/
config/zsh/old/
config/fish/test.sh
config/fish/old/
config/vim/old/
config/vim/vim.d/.netrwhist
config/emacs/old
config/emacs/alt
config/emacs/emacs.d/org-clock-save.el
config/emacs/emacs.d/.mc-lists.el
config/emacs/emacs.d/emacs-24.3
config/emacs/emacs.d/org-8.2.4
