[submodule "config/zsh/oh-my-zsh"]
	path = config/zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "config/zsh/pack/zsh-syntax-highlighting"]
	path = config/zsh/pack/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "config/zsh/pack/zsh-autosuggestions"]
	path = config/zsh/pack/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "config/pack/thefuck"]
	path = config/pack/thefuck
	url = https://github.com/nvbn/thefuck
