# text-editor backup files
*~

# Mac Desktop Services Store customization files
.DS_Store

# Specific sub-folders
setup/old
setup/notes.txt
notes/ScreenShot_prompt.png
notes/ScreenShot_prompt.txt
config/bash/notes
config/bash/old/
config/bash/alt/
config/zsh/old/
config/fish/test.sh
config/fish/old/
config/vim/old/
config/emacs/old
config/emacs/alt
config/emacs/emacs.d/org-clock-save.el
config/emacs/emacs.d/.mc-lists.el
